<div class="row row-pad-bottom">
  <div class="span12 center">
    <%= render 'schools/header', school: @school %>
  </div>
</div>
<div class="row">
  <div class="span6 span-gray row-pad-bottom">
    <div class="pad-box">
      <% if @school.contact_html.present? %>
        <%= @school.contact_html.html_safe %>
      <% end %>
    </div>
  </div>
  <div class="span6 span-gray row-pad-bottom">
    <div class="pad-box">
      <h4>Adventure Map</h4>
      <%= gmaps( :map_options => { :container_class => "school-adventure-map"}, :markers => { "data" => map_json } ) %>
    </div>
  </div>
</div>
<div class="row">
  <% if collection.present? %>
    <% collection.each do |article| %>
      <div class="span3 recent-article-thumb">
        <%= render 'articles/article', article: article %>
        <%= render 'articles/overlay_caption', article: article %>
      </div>
    <% end %>
  <% end %>
</div>
