<div class="row row-pad-bottom">
  <div class="span12 center ">
    <%= image_tag 'c-logo.png' %>
    <div class="school-header-info">
      <h2><%= @school.full_name || @school.name %></h2>
      <h3 class="header-gray"><%= @school.location %></h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="span9">
    <div class="row">
      <div class="span9 span-gray">
        <div class="span4 recent-article-thumb recent-article-thumb-no-container">
          <%= render 'articles/article', article: featured_article, size: 'medium_cover' %>
        </div>
        <div class="span5 article-preview-container">
            <h3><%= featured_article.title %></h3>
            <h4 class="header-gray">
              <%= featured_article.user.name %>,
              <%= featured_article.school.name %>,
              <%= featured_article.published_at.stamp("January 23, 2011") %>
            </h4>
            <div class="span-elipsis article-preview">
              <%= featured_article.text_preview.html_safe %>
            </div>
            <%= link_to "Read more", featured_article, class: "article-preview-read-more" %>
          </div>
      </div>

    </div>
    <div class="row show-grid">
      <div class="span6">Sponsored thing</div>
      <div class="span3">Adventure Map</div>
    </div>
    <div class="row show-grid">
      <div class="span3">Article</div>
      <div class="span3">Article</div>
      <div class="span3">Article</div>
    </div>
  </div>
  <div class="span3">List of Articles</div>
</div>
