<% size = "small_cover" if local_assigns[:size].nil? %>
<% caption_pos = "bottom" if local_assigns[:caption_pos].nil? %>
<% container = true if local_assigns[:container].nil? %>
<% span_cover_sizes = {
  "small_cover" => "span3",
  "medium_cover" => "span4",
  "wide_cover" => "span8"
} %>
<% span_class = span_cover_sizes[size] %>
<div class="<%= span_class %> recent-article-thumb recent-article-thumb-<%= size %> <%= "recent-article-thumb-no-container" if container == false %>">
  <%= link_to image_tag(article.cover_photo.send(size)), article_path(article) %>
  <% unless caption_pos == "none" %>
    <%= link_to article_path(article), class: "#{span_class} recent-article-caption recent-article-caption-#{caption_pos}" do %>
      <%= article.cover_photo_caption %>
    <% end %>
  <% end %>
</div>
