<div class="row">
  <% if featured_article %>
    <div class="span6 recent-article-thumb">
      <%= render featured_article, size: 'double_wide_cover' %>
      <%= render 'articles/overlay_caption', article: featured_article %>
    </div>
  <% end %>

  <% @articles.each do |article| %>
    <div class="span3 recent-article-thumb">
      <%= render article, size: "medium_cover" %>
      <%= render 'articles/overlay_caption', article: article %>
    </div>
  <% end %>

  <% if sponsored_article %>
    <div class="span6 recent-article-thumb">
      <%= render sponsored_article, size: 'wide_cover'%>
      <%= render 'articles/overlay_caption', article: sponsored_article %>
    </div>
  <% end %>

  <div class="span12">
    <%= paginate @articles %>
  </div>
</div>
