<div class="row row-pad-bottom">
  <div class="span3 contact-box">
    <h3>I want to suggest content</h3>
    <p>
      If you know of something
      awesome we should consider
      doing an article, photo shoot, or
      film on, let our <%= link_to "Editor-in-Chief", "mailto:editor@collegeoutside.com" %>
      know
    </p>
  </div>
  <div class="span3 contact-box">
    <h3>I want to write or edit</h3>
    <p>
      We are always looking for more
      people to join our community, if at an
      existing school or by expanding to a
      new one. Our <%= link_to "Editor-in-Chief", "mailto:editor@collegeoutside.com" %>
      will get you started.
    </p>
  </div>
  <div class="span3 contact-box">
    <h3>I want to advertise</h3>
    <p>
      We want to connect people and
      brands with similar values. If you
      are interested in reaching out to
      the college community, tell our
      <%= link_to "Head of Business Operations", "mailto:josh@collegeoutside.com" %>
      why and take a look at our <%= link_to "Media", media_path %> page.
    </p>
  </div>
  <div class="span3 contact-box">
    <h3>I want a job</h3>
    <p>
      Think you are a good fit to work as
      part of the College Outside team?
      Drop our <%= link_to "Head of Business Operations", "mailto:josh@collegeoutside.com" %>
      a line.
    </p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>We want to hear from you about anything you have to say.</h2>
    <h3 class='header-gray'>Feel free to reach out to us in any way you would like.</h3>
    <br />
    <p>Email the Co-Founders: <%= link_to "josh@collegeoutside.com", "mailto:josh@collegeoutside.com" %>, <%= link_to "sarah@collegeoutside.com", "mailto:sarah@collegeoutside.com" %></p>
  </div>
</div>

<div class="row row-pad-bottom">
  <div class="span4">
    <br />
    <h3 class="header-gray">Share the love</h3>
    <br />
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://collegeoutside.com" data-text="I like college, and going outside. Therefore, I like @collegeoutside." data-size="large" data-related="collegeoutside">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <br />
    <br />
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <div class="fb-like" data-href="https://www.facebook.com/collegeoutside" data-send="true" data-layout="standard" data-width="350" data-show-faces="true" data-font="lucida grande"></div>
  </div>
</div>
