<div class="row row-pad-bottom">
  <div class="span3 contact-box">
    <h3>I want to suggest content</h3>
    <p>
      If you know of something
      awesome we should consider
      doing an article, photo shoot, or
      film on, let our <%= link_to "Editor-in-Chief", "mailto:editor@collegeoutside.com" %>
      know
    </p>
  </div>
  <div class="span3 contact-box">
    <h3>I want to write or edit</h3>
    <p>
      We are always looking for more
      people to join our community, if at an
      existing school or by expanding to a
      new one. Our <%= link_to "Editor-in-Chief", "mailto:editor@collegeoutside.com" %>
      will get you started.
    </p>
  </div>
  <div class="span3 contact-box">
    <h3>I want to advertise</h3>
    <p>
      We want to connect people and
      brands with similar values. If you
      are interested in reaching out to
      the college community, tell our
      <%= link_to "Head of Business Operations", "mailto:josh@collegeoutside.com" %>
      why and take a look at our <%= link_to "Media", media_path %> page.
    </p>
  </div>
  <div class="span3 contact-box">
    <h3>I want a job</h3>
    <p>
      Think you are a good fit to work as
      part of the College Outside team?
      Drop our <%= link_to "Head of Business Operations", "mailto:josh@collegeoutside.com" %>
      a line and take a look at our <%= link_to "Jobs", jobs_path %> page.
    </p>
  </div>
</div>

<div class="row fixed-height">
  <div class="span12">
    <h2>We want to hear from you about anything you have to say.</h2>
    <h3 class='header-gray'>Feel free to reach out to us in any way you would like.</h3>
    <br />
    <p>Email the Co-Founders: <%= link_to "josh@collegeoutside.com", "mailto:josh@collegeoutside.com" %>, <%= link_to "sarah@collegeoutside.com", "mailto:sarah@collegeoutside.com" %></p>
  </div>
</div>
