<div class="row content">
  <div class="span6 sport-guys">
    &nbsp;
    <div class="sport-guy sport-guy-biking">
      <%= image_tag "sport-icons/activity-badge.png" %>
      <div class="sport-guy-opacity"></div>
    </div>
    <div class="sport-guy sport-guy-hiking">
      <%= image_tag "sport-icons/activity-badge.png" %>
      <div class="sport-guy-opacity"></div>
    </div>
    <div class="sport-guy sport-guy-climbing">
      <%= image_tag "sport-icons/activity-badge.png" %>
      <div class="sport-guy-opacity"></div>
    </div>
    <div class="sport-guy sport-guy-mountain">
      <%= image_tag "sport-icons/activity-badge.png" %>
      <div class="sport-guy-opacity"></div>
    </div>
    <div class="sport-guy sport-guy-yoga">
      <%= image_tag "sport-icons/activity-badge.png" %>
      <div class="sport-guy-opacity"></div>
    </div>
    <div class="sport-guy sport-guy-skating">
      <%= image_tag "sport-icons/activity-badge.png" %>
      <div class="sport-guy-opacity"></div>
    </div>
    <div class="sport-guy sport-guy-camping">
      <%= image_tag "sport-icons/activity-badge.png" %>
      <div class="sport-guy-opacity"></div>
    </div>
    <div class="sport-guy sport-guy-rafting">
      <%= image_tag "sport-icons/activity-badge.png" %>
      <div class="sport-guy-opacity"></div>
    </div>
    <div class="sport-guy sport-guy-running">
      <%= image_tag "sport-icons/activity-badge.png" %>
      <div class="sport-guy-opacity"></div>
    </div>
  </div>
  <div class="span6 recent-articles">
    <div class="row">
      <div class="span3 recent-article-thumb">
        <%= image_tag 'cliff.png' %>
        <p class="recent-article-caption">A crazy beach scene</p>
      </div>
      <div class="span3 recent-article-thumb">
        <%= image_tag 'clouds.png' %>
        <p class="recent-article-caption">Clouds!</p>
      </div>
      <div class="span3 recent-article-thumb">
        <%= image_tag 'cliff.png' %>
        <p class="recent-article-caption">A crazy beach scene</p>
      </div>
      <div class="span3 recent-article-thumb">
        <%= image_tag 'clouds.png' %>
        <p class="recent-article-caption">Clouds!</p>
      </div>
      <div class="span3 recent-article-thumb">
        <%= image_tag 'cliff.png' %>
        <p class="recent-article-caption">A crazy beach scene</p>
      </div>
      <div class="span3 recent-article-thumb">
        <%= image_tag 'clouds.png' %>
        <p class="recent-article-caption">Clouds!</p>
      </div>
    </div>
  </div>
</div>

<% content_for :extra_footer do -%>
  <script type="text/javascript">
    $(function() {
      var radius = 200;
      var fields = $('.sport-guy'), container = $('.sport-guys'), width = container.width(), height = width;
      var angle = 0, step = (2*Math.PI) / fields.length;
      fields.each(function() {
          var x = Math.round(width/2 + radius * Math.cos(angle) - $(this).width()/2);
          var y = Math.round(height/2 + radius * Math.sin(angle) - $(this).height()/2);
          if(window.console) {
              console.log($(this).text(), x, y);
          }
          $(this).css({
              left: x + 'px',
              top: y + 'px'
          });
          angle += step;
      });
    });
  </script>
<% end -%>
