<div class="row content">
  <div class="span6 sport-guys">
    &nbsp;
    <div class="region-map">
      <div class="region region-northeast"></div>
      <div class="region region-southeast"></div>
      <div class="region region-midwest"></div>
      <div class="region region-west"></div>
      <div class="region region-pacific"></div>
      <div class="region region-southwest"></div>
    </div>
    <div class="sport-guy">
      <%= image_tag "sport-icons/Biking-Badge_Small.png" %>
      <div class="sport-guy-opacity"></div>
    </div>
    <div class="sport-guy">
      <%= image_tag "sport-icons/Hiking-Badge_Small.png" %>
      <div class="sport-guy-opacity"></div>
    </div>
    <div class="sport-guy">
      <%= image_tag "sport-icons/Climbing-Badge_Small.png" %>
      <div class="sport-guy-opacity"></div>
    </div>
    <div class="sport-guy">
      <%= image_tag "sport-icons/Ski_Snowboard-Badge_Small.png" %>
      <div class="sport-guy-opacity"></div>
    </div>
    <div class="sport-guy">
      <%= image_tag "sport-icons/Yoga-Badge_Small.png" %>
      <div class="sport-guy-opacity"></div>
    </div>
    <div class="sport-guy">
      <%= image_tag "sport-icons/Gear-Badge_Small.png" %>
      <div class="sport-guy-opacity"></div>
    </div>
    <div class="sport-guy">
      <%= image_tag "sport-icons/Winter-Badge_Small.png" %>
      <div class="sport-guy-opacity"></div>
    </div>
    <div class="sport-guy">
      <%= image_tag "sport-icons/Camping-Badge_Small.png" %>
      <div class="sport-guy-opacity"></div>
    </div>
    <div class="sport-guy">
      <%= image_tag "sport-icons/Water-Badge_Small.png" %>
      <div class="sport-guy-opacity"></div>
    </div>
    <div class="sport-guy">
      <%= image_tag "sport-icons/Running-Badge_Small.png" %>
      <div class="sport-guy-opacity"></div>
    </div>
  </div>
  <div class="span6 recent-articles">
    <div class="row">
      <div class="span3 recent-article-thumb">
        <%= image_tag 'cliff.png' %>
        <p class="recent-article-caption">A crazy beach scene</p>
      </div>
      <div class="span3 recent-article-thumb">
        <%= image_tag 'clouds.png' %>
        <p class="recent-article-caption">Clouds!</p>
      </div>
      <div class="span3 recent-article-thumb">
        <%= image_tag 'cliff.png' %>
        <p class="recent-article-caption">A crazy beach scene</p>
      </div>
      <div class="span3 recent-article-thumb">
        <%= image_tag 'clouds.png' %>
        <p class="recent-article-caption">Clouds!</p>
      </div>
      <div class="span3 recent-article-thumb">
        <%= image_tag 'cliff.png' %>
        <p class="recent-article-caption">A crazy beach scene</p>
      </div>
      <div class="span3 recent-article-thumb">
        <%= image_tag 'clouds.png' %>
        <p class="recent-article-caption">Clouds!</p>
      </div>
    </div>
  </div>
</div>

<% content_for :extra_footer do -%>
  <script type="text/javascript">
    $(function() {
      var fields = $('.sport-guy'), container = $('.sport-guys'), width = container.width(), height = width;
      var hRadius = 190;
      var vRadius = 230;
      var angle = 0, step = (2*Math.PI) / fields.length;
      fields.each(function() {
          var x = Math.round(width/2 + vRadius * Math.cos(angle) - $(this).width()/2);
          var y = Math.round(height/2 + hRadius * Math.sin(angle) - $(this).height()/2);
          if(window.console) {
              console.log($(this).text(), x, y);
          }
          $(this).css({
              left: x + 'px',
              top: y + 'px'
          });
          angle += step;
      });
    });
  </script>
<% end -%>
