<div class="writer">
  <div class="writer-image">
    <%= link_to image_tag(writer.photo.thumb), writer_articles_path(writer) %>
  </div>
  <div class="writer-snippet">
    <%= link_to writer.name, writer_articles_path(writer) %><br />
    <% if writer.position.present? || writer.school.present? %>
      <%= writer.school.try(:name) %> <%= writer.position %> <br />
    <% end %>
    <%= mail_to writer.email, 'Email me!', encode: 'javascript' %> <br />
    <%= pluralize writer.articles_count, 'articles' %>
  </div>
</div>
