<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "College Outside" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body>

    <div class="container">
      <%= render 'layouts/flashes' %>
      <div>
        <ul class="nav">
          <% if current_user %>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>

            <% if current_user.chief? %>
              <li><%= link_to "Admin Dashboard", rails_admin_path %></li>
              <li><%= link_to "Writer Dashboard", write_path %></li>
            <% elsif current_user.writer? %>
              <li><%= link_to "Writer Dashboard", write_path %></li>
            <% end %>

          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>

        </ul>
      </div>
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>

  </body>
</html>
