<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "College Outside" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body>

    <div class="container">
      <div class="row header-nav">
        <div class="span4 header-nav-logo"><%= link_to image_tag('logo.png'), '/' %></div>
        <div class="header-nav-links">
          <div class="span2 header-nav-link">
            <div class="dropdown">
              <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                Schools
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <% School.order(:name).each do |school| %>
                  <li><%= link_to school.name, school_articles_path(school) %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="span2 header-nav-link"><%= link_to "Our Story", about_us_path %></div>
          <div class="span2 header-nav-link"><%= link_to "All Articles", articles_path %></div>
          <div class="span2 header-nav-link"><%= link_to "Contribute", contribute_path %></div>
        </div>
      </div>
      <%= render 'layouts/flashes' %>
      <%= yield %>
      <div class="row row-pad-top">
        <div class="span12 social-media-bar">
          <%= social_media_icon('facebook') %>
          <%= social_media_icon('twitter') %>
          <%= social_media_icon('vimeo') %>
          <%= social_media_icon('linkedin') %>
        </div>
      </div>
      <div class="row footer-bar">
        <div class='span4 footer-box footer-box-centered'><%= link_to image_tag('logo.png'), '/', class: "logo-medium" %></div>
        <div class='span4 footer-box footer-box-centered footer-box-vertical-center'>
          <%= link_to "Write for Your School", contribute_path %> <br />
          <%= link_to "Start a CO Branch", contribute_path %>
        </div>
        <div class='span2 footer-box'>
          <%= link_to "Our Story", about_us_path %><br />
          <%= link_to "Our Team", team_path %><br />
          <%= link_to "Contact Us", contact_us_path %>
        </div>
        <div class='span2 footer-box'>
          <%= link_to "Schools" %><br />
          <%= link_to "Terms of Use", terms_path %><br />
          <%= link_to "Give Us Feedback", contact_us_path %><br />
        </div>
      </div>
      <div class="span12">
        <ul>
          <% if current_user %>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>

          <% if can? :access, :rails_admin %>
            <li><%= link_to "Admin Dashboard", rails_admin_path %></li>
          <% end %>

          <% if can? :show, :writer_dashboard %>
            <li><%= link_to "Writer Dashboard", write_path %></li>
          <% end %>
        </ul>
      </div>
    </div>



    <%= javascript_include_tag "application" %>
    <%= render 'layouts/google_analytics' %>
    <%= yield(:extra_footer) %>
  </body>
</html>

